ignore_pattern:
  - path: ".+description"
  - path: ".+/Sid"
  - path: ".*/comment"
  - address: "aws_route53_zone"
    path: "/name"
ignore_diff:
  - left: "stg"
    right: "prod"
  - left: ""
    right: "prod-"
  - left: ""
    right: "prod/"
